* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    --hue: 240;
    --color-base-white: hsl(0, 0%, 100%);
    --color-base-gray-100: hsl(0, 0%, 96%);
    --color-base-gray-300: hsl(var(--hue), 6%, 58%);
    --color-base-gray-500: hsl(0, 0%, 24%);
    --color-base-gray-900: hsl(var(--hue), 6%, 13%);
}

body {
    font-size: 1.6rem;
    color: var(--color-base-gray-900);
    
    background-color: var(--color-base-white);
}

html, body, input {
    font-family: 'mulish', sans-serif;
}

#app {
    display: grid;
    height: 100vh;
    grid-template-rows: max-content 1fr max-content;
}

header {
    --start-Y: -100%;
    animation: move .2s;
}

header, nav, nav ul {
    display: flex;
    align-items: center;
    gap: 7.2rem;
    font-weight: 700;
}

header form {
    flex: 1;
}

nav ul {
    list-style: none;
    font-size: 1.8rem;
    color: var(--color-base-gray-300);
}

ul li.active {
    color: var(--color-base-gray-900);
}

main {
    background-color: var(--color-base-gray-100);
    overflow-y: scroll;
}

.container {
    padding: 1.6rem 3.2rem;
    width: min(112rem, 100%);
    margin: 0 auto;
}

.container h1 {
    font-size: 2.4rem;
    padding: 1.6rem 0;;
}

.input-wrapper label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper input {
    width: 100%;
    padding: 1.6rem;
    background-color: var(--color-base-gray-100);
    border: none;
    border-radius: .6rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.input-wrapper input::placeholder {
    opacity: 0.56;
    color: var(--color-base-gray-500);
}

.avatar {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2.2rem;
    margin-top: 1.6rem;
}

.item {
    border-radius: .75rem;
    max-width: 40rem;
    max-height: 28.8rem;
    overflow: hidden;
    background-color: var(--color-base-white);

    --delay: .4s;
    animation: appear .4s var(--delay) backwards;
}

.item img {
    display: block;

    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;

    transition: all 200ms ease-out;
}

.item img:hover {
    filter: hue-rotate(7deg) contrast(101%) saturate(200%);
    transform: scale(1.1) rotate(-2deg);
}

.item .details {
    padding: 2.2rem;
}

.details {
    background-color: var(--color-base-white);
    z-index: 1;
    position: relative;
}

.details h2 {
    font-size: 1.8rem;
}

.tags {
    margin-top: 1.2rem;
}

.tags span {
    padding: .6rem;
    background-color: var(--color-base-gray-100);
    border-radius: .4rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

footer {
    --start-Y: 100%;
    animation: move .2s;
}

footer p {
    font-weight: 600;
    text-align: center;
    padding: 1.6rem;
}

@keyframes move {
    from {
        transform: translateY(var(--start-Y));
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
}
